<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baselibrary">

    <application>
        <!--android:name=".base.BaseApplication">-->

        <activity
            android:name=".activity.PermissionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EmptyTheme">
            <intent-filter>
                <action android:name="com.baselibrary.activity.permissionActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>
