<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mywifi"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CONNECTIVITY_INTERNAL"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/wf_ic_launcher"
        android:label="@string/wf_app_name"
        android:roundIcon="@mipmap/wf_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/wf_AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon"
        tools:replace="android:theme">
        <activity android:name=".activity.Main3Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Main2Activity">

        </activity>
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>