<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pw">

    <application  android:allowBackup="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon">
        <activity android:name=".activity.PWActivity" />
    </application>
</manifest>
